{#
/**
 * @file
 * Theme override for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - batchUri: The batch uri.
 * - title: The title of the progress bar (a string or render array).
 * - label: The label of the working task.
 * - percent: The percentage of the working task.
 * - message: A string containing information to be displayed.
 */
#}
<div class="toolbar-progress-bar" data-uri="{{ batchUri }}">
    {% if title %}
        <div class="progress__builder_label">
            {{ title }}
        </div>
    {% endif %}
    <div class="progress" data-drupal-progress>
        {% if label %}
            <div class="progress__label">{{ label }}</div>
        {% endif %}
        <div class="progress__track">
            <div class="progress__bar" style="width: {{ percent }}%"></div>
        </div>
        <div class="progress__percentage">{{ percent }}%</div>
        <div class="progress__description">{{ message }}</div>
    </div>
</div>
